
.navbar{
    background-color: #3b5998;
    
    
   position:sticky;
}
.table .thead-dark th {
   color:white;
   background-color:  #3b5998;
   border-color: white;
}

.table{
    table-layout: fixed;
  }
  .table td {
    
    white-space: -o-pre-wrap; 
    word-wrap: break-word;
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap;
  }