/* 
.navbar{
    background-color: #fb0;
    position:sticky;
    width:110%;
}

.sample{
    font-family: cursive
}

.card-title{
    font-family:cursive;
    
}
.card-text{
    font-family:cursive;
    
}

.aaa{
    width:100%;
    margin-top:50px;

}
.simple card{
    margin-top:50px;
}
.card {
    position: absolute;
   
    min-width: 0;
    background-color: rgb(158, 134, 134);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.container{
    position: fixed;
}
.class1{
    height:50%;
    
} */

.navbar{
     background-color: #3b5998;
     
     
    position:sticky;
}
.table .thead-dark th {
    color:white;
    background-color:  #3b5998;
    border-color: white;
}